 body {
            color: #404E67;
            background: #F5F7FA;
            font-family: 'Open Sans', sans-serif;
        }
        .table-wrapper {
            width: 700px;
            margin: 30px auto;
            background: #fff;
            padding: 20px;	
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }
        .table-title {
            padding-bottom: 10px;
            margin: 0 0 10px;
        }
        .table-title h2 {
            margin: 6px 0 0;
            font-size: 22px;
        }
        .table-title .add-new {
            float: right;
            height: 30px;
            font-weight: bold;
            font-size: 12px;
            text-shadow: none;
            min-width: 100px;
            border-radius: 50px;
            line-height: 13px;
        }
        .table-title .add-new i {
            margin-right: 4px;
        }
        table.table {
            table-layout: fixed;
        }
        table.table tr th, table.table tr td {
            border-color: #e9e9e9;
        }
        table.table th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }
        table.table th:last-child {
            width: 100px;
        }
        table.table td a {
            cursor: pointer;
            display: inline-block;
            margin: 0 5px;
            min-width: 24px;
        }    
        table.table td a.add {
            color: #27C46B;
        }
        table.table td a.edit {
            color: #FFC107;
        }
        table.table td a.delete {
            color: #E34724;
        }
        table.table td i {
            font-size: 19px;
        }
        table.table td a.add i {
            font-size: 24px;
            margin-right: -1px;
            position: relative;
            top: 3px;
        }    
        table.table .form-control {
            height: 32px;
            line-height: 32px;
            box-shadow: none;
            border-radius: 2px;
        }
        table.table .form-control.error {
            border-color: #f50000;
        }
        table.table td .add {
            display: none;
        }
        /*************************
        Style pour la table fiches
        **************************/
        .table-responsive.fiche{
            margin: 30px 0;
        }
        .table-wrapper.fiche {
            min-width: 1000px;
            background: #fff;
            padding: 20px 25px;
            border-radius: 3px;
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }
        .table-title.fiche{        
            padding-bottom: 15px;
            background: #435d7d;
            color: #fff;
            padding: 16px 30px;
            margin: -20px -25px 10px;
            border-radius: 3px 3px 0 0;
        }
        .table-title.fiche h2 {
            margin: 5px 0 0;
            font-size: 24px;
        }
        .table-title.fiche .btn-group {
            float: right;
        }
        .table-title.fiche .btn {
            color: #fff;
            float: right;
            font-size: 13px;
            border: none;
            min-width: 50px;
            border-radius: 2px;
            border: none;
            outline: none !important;
            margin-left: 10px;
        }
        .table-title.fiche .btn i {
            float: left;
            font-size: 21px;
            margin-right: 5px;
        }
        .table-title.fiche .btn span {
            float: left;
            margin-top: 2px;
        }
        table.table.fiche tr th, table.table tr td {
            border-color: #e9e9e9;
            padding: 10px 10px;
            vertical-align: middle;
        }
        table.table.fiche tr th:first-child {
            width: 100px;
        }
        table.table.fiche tr th:last-child {
            width: 200px;
        }
        table.table-striped.fiche tbody tr:nth-of-type(odd) {
            background-color: #fcfcfc;
        }
        table.table-striped.table-hover.fiche tbody tr:hover {
            background: #f5f5f5;
        }
        table.table.fiche th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }	
        table.table.fiche td:last-child i {
            opacity: 0.9;
            font-size: 22px;
            margin: 0 5px;
        }
        table.table.fiche td a {
            font-weight: bold;
            color: #566787;
            display: inline-block;
            text-decoration: none;
            outline: none !important;
        }
        table.table.fiche td a:hover {
            color: #2196F3;
        }
        table.table.fiche td a.edit {
            color: #FFC107;
        }
        table.table.fiche td a.delete {
            color: #F44336;
        }
        table.table.fiche td i {
            font-size: 19px;
        }
        table.table.fiche .avatar {
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 10px;
        }
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            right: 0;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }